*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff);
}

h1{
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 8%;
}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo{
    flex-basis: 20%;
}

.logo img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;

}

.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    /*This line of code will make it virtually centre*/
}

.commands div input{
    width: 400px;
    height: 50px;
}

/*
#table {
    display: block;
    margin-top: 20px;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}
*/

.logo h2 {
    margin-top: 15px;
    margin-bottom: 50px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#insert {
    margin-left: 10px;
    font-weight: bold;
}